@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url(../../fonts/Roboto-Black.ttf) format('woff');
}

/* -- COMMON --  */

@keyframes slideInFromRight {
    0% {
        transform: translateX(50%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.tutorialText {
    margin: auto;
}

.pageTransition {
    animation: slideInFromRight 0.2s ease forwards;
 
}
.pageWrapper{
    position: relative;
    width: 60%;
    margin: auto;
}


.AbsoluteWaveImg {
    content: "";
    position: absolute;
   
    width: 100%;
    transform: scaley(.8);
    display: block;
    z-index: -1;
    opacity: .6;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../img/LongBoxWave.png");
}


/* -- HomePage --  */

.homePageWrapper .AbsoluteWaveImg{
    left: 0;
    top: 10px;
    background-size: 964px;
    height: 241px;
}

.homepageWrapper .titleWrapper {
    text-align: center;
    margin: 90px 0 70px 0;
    font-family: 'Poor Richard', 'Roboto', 'Courier New', Courier, monospace;
    color: #E0E0E0;
    text-shadow: -1px -1px 1px #0f0e16, 1px 1px 1px #0f0e16, 1px -1px 1px #0f0e16, -1px 1px 1px #0f0e16;
}



.homepageWrapper .startButton {
    background: linear-gradient(90deg, #ef4136, #5b5287);
    margin: 65px auto 0 auto;
    color: #D0D0D0;
    height: 71px;
    width: 164px;
    border-radius: 10px;
    line-height: 71px;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
}

.homepageWrapper .startButton:hover {
    background: linear-gradient(90deg, #ef4136 70%, #5b5287 100%);
}

.homepageWrapper .startButton:active {
    background: #ef4136;
}

.homepageWrapper .title {
    font-size: 40px;
}

.homepageWrapper .introduction {
    text-align: center;
    margin: 15px;
    font-size: 20px;
}

.homepageWrapper .OscillatorImg {
    background-image: url("../../img/Oscillator_gradiant.png");
    background-size: 455px;
    background-repeat: no-repeat;
    background-position: center;
    height: 290px
}

/* --- Common Pages --- */
.pageTitle {
    font-family: 'Poor Richard', 'Roboto', 'Courier New', Courier, monospace;
    font-size: 35px;
    /* background: -webkit-linear-gradient(45deg,#f3493d , #5b5287 150%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: #E0E0E0;
    margin: 35px 0 25px 0;
    background-position: center;
    background-size: contain;
    text-shadow: -1px -1px 1px #0f0e16, 1px 1px 1px #0f0e16, 1px -1px 1px #0f0e16, -1px 1px 1px #0f0e16;

}

.textBox {
    width: 100%;
    min-height: 80vh;
    border: 3px solid black;
    border-radius: 15px;
    background: #FFFFFF;
    opacity: .8;
    padding: 0 23px;
}

/* --- PAGE 1 --- */
.page1 .AbsoluteWaveImg{
    left: -35px;
    top: -102px;
    background-size: 789px;
    background-position: left;
    height: 241px;
    opacity: 0.85;
    
}